BE/TechFix.API/bin/
BE/TechFix.API/obj/
BE/TechFix.Common/bin/
BE/TechFix.Common/obj/
BE/TechFix.Models/bin/
BE/TechFix.Models/obj/
BE/TechFix.Services/bin/
BE/TechFix.Services/obj/
BE/TechFix.TransportModels/bin/
BE/TechFix.TransportModels/obj/
BE/TechFix.API/wwwroot/upload/
BE/.vs/
